body {
    margin: 0;
    padding: 0;
    width: 100vw; height: 100vh;
    font-family: 'Montserrat', sans-serif; 
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2em;
    padding: 25px;
}

.btns-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 3px;
}

.input-field,
.input-field:hover,
.input-field:active,
.input-field:focus {
    border: 1.5px solid gray;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.input-field {
    height: 60px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 .2em;
}

.btn {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: .2em;
    border-radius: 5px;
    user-select: none;
    background-color:#C2C2C2;
color:white;
}

/*.btn:hover {*/
/*    background-color: black;*/
/*    cursor: pointer;*/
/*}*/

/*.btn:active {*/
/*    background-color: white;*/
/*}*/

.history {
    width: 50vw;
    padding: 1em 2em;
    box-sizing: border-box;
    border-left: 1px solid gray;
    height: calc(300px + 2em);
}
.btn-plus, .btn-minus, .btn-mult, .btn-div, .btn-equal{
  background-color: #FF9D00;
}
.btn-4, .btn-5, .btn-6, .btn-7, .btn-0, .btn-8, .btn-9, .btn-clear, .btn-point {
  background-color: #353535;
  
}
